fixme
*.orig
*.new
.stamps
*.swp
/sources
/build
/binaries

geexbox-*.tar

config/options

DOCS/docbook-xsl.css
DOCS/*.html
DOCS/*.pdf
/binaries-dl

/rudi
/cfg
/2disk
/3restore
/clean*
/build*
/*all
*.diffx
*.patchx
