config TASK_base
  bool "base - starting point for a bootable system"
  default y
  select PKG_base-files
  select PKG_gcc-final
  select PKG_busybox
  select PKG_util-linux-ng
  select PKG_linux
  select PKG_udev
  select PKG_upstart
  help
    Very basic system able to boot up to a busybox shell.
