
      body { 
        background-color: white;
        color:#000000;
        font-family:verdana,helvetica,arial,sans-serif;
        font-size:10px;
        font-weight:normal;
     }
     img.pctImg {
	 background: white url(/img/pctImg_back.png) top left no-repeat;
	 padding: 0;
	 margin: 5px 0 0 0;
	 background-position: 1px 0;
	}

	img.pctImgRed {
	 background: white url(/img/pctImg_back_red.png) top left no-repeat;
	 padding: 0;
	 margin: 5px 0 0 0;
	 background-position: 1px 0;
	}

	.pie {
	  display: block;
	  margin: 0;
	  padding: 0;
	  width: 30px;
	  height: 30px;
	  background-image: url('/img/pie.png');
	}

	.f0 { background-position: 0px 0; }
	.f1 { background-position: -30px 0; }
	.f2 { background-position: -60px 0; }
	.f3 { background-position: -90px 0; }
	.f4 { background-position: -120px 0; }
	.f5 { background-position: -150px 0; }
	.f6 { background-position: -180px 0; }
	.f7 { background-position: -210px 0; }
	.f8 { background-position: -240px 0; }
	.f9 { background-position: -270px 0; }
	.f10 { background-position: -300px 0; }
	.f11 { background-position: -330px 0; }
	.f12 { background-position: -360px 0; }
	.f13 { background-position: -390px 0; }
	.f14 { background-position: -420px 0; }
	.f15 { background-position: -450px 0; }
	.f16 { background-position: -480px 0; }
	.f17 { background-position: -510px 0; }
	.f18 { background-position: -540px 0; }
	.f19 { background-position: -570px 0; }
	.f20 { background-position: -600px 0; }


    td{
        font-family:verdana,helvetica,arial,sans-serif;
        font-size:10px;
        font-weight:normal;
        }
    th{
        font-family:verdana,helvetica,arial,sans-serif;
        font-size:10px;
        font-weight:bold;
        }

      #tabs {
        display: block;
        float: left;
        width: 100%;
      }      
      a.tab { 
        border-collapse: collapse; 
        border-style: solid solid none solid;  
        border-color: black; 
        border-width: 1px 1px 0px 1px; 
        background-color: silver; 
        padding: 2px 0.5em 0px 0.5em; 
        margin-top: 4px;
        margin-right: 2px;
        font-family: arial; 
        text-decoration: none;
        float: left;        
      }
      a.tab:hover { 
        border-color: black; 
        background-color: white; 
      }
      .panel { border: solid 1px black; background-color: white; padding: 5px; height: 400px; overflow: auto;}


