Source: geexbox-generator
Section: devel
Priority: optional
Maintainer: Alexis Saettler (asbin ;-]) <alexis@saettler.org>
Build-Depends: debhelper (>= 4.0.0), cdbs, docbook-to-man, build-essential, nasm, bzip2, gzip, wget
Standards-Version: 3.6.1

Package: geexbox-generator
Architecture: all
Depends: debconf, mkisofs
Recommends: w32codecs
Description: iso generator for GeeXboX
 GeeXboX is an awesome standalone media player.
 GeeXboX is a full operating system, running under Linux and based on the
 excellent MPlayer. No need of hard drive, you just have to put the
 GeeXboX bootable CD into the CD-Drive of any pentium-class computer to boot it.
 .
 With this package, you can create a new iso file of GeeXboX,
 with your language and your remote, to work with your computer.
 .
 More informations on http://www.geexbox.org
