Source: geexbox-generator
Section: devel
Priority: optional
Maintainer: Alexis Saettler (asbin ;-]) <alexis@saettler.org>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), build-essential, debhelper (>= 4.1.16), patchutils (>= 0.2.25), docbook-to-man, nasm, bzip2
Standards-Version: 3.6.2

Package: geexbox-generator
Architecture: all
Depends: debconf, mkisofs, geexbox-generator-data-i386 (= ${Source-Version}) | geexbox-generator-data-ppc (= ${Source-Version})
Description: iso generator for GeeXboX
 GeeXboX is an awesome standalone media player.
 GeeXboX is a full operating system, running under Linux and based on the
 excellent MPlayer. No need of hard drive, you just have to put the
 GeeXboX bootable CD into the CD-Drive to boot it.
 .
 With this package, you can create a new iso file of GeeXboX,
 with your language and your remote, to work with your computer.
 .
 More informations on http://www.geexbox.org

Package: geexbox-generator-data-i386
Architecture: all
Depends: geexbox-generator (= ${Source-Version})
Recommends: w32codecs
Description: iso generator for GeeXboX - data for i386 arch
 GeeXboX is an awesome standalone media player.
 GeeXboX is a full operating system, running under Linux and based on the
 excellent MPlayer. No need of hard drive, you just have to put the
 GeeXboX bootable CD into the CD-Drive to boot it.
 .
 This package include the i386 architecture data files
 .
 More informations on http://www.geexbox.org

Package: geexbox-generator-data-ppc
Architecture: all
Depends: geexbox-generator (= ${Source-Version})
Recommends: w32codecs
Description: iso generator for GeeXboX - data for i386 arch
 GeeXboX is an awesome standalone media player.
 GeeXboX is a full operating system, running under Linux and based on the
 excellent MPlayer. No need of hard drive, you just have to put the
 GeeXboX bootable CD into the CD-Drive to boot it.
 .
 This package include the ppc architecture data files
 .
 More informations on http://www.geexbox.org
