Source: geexbox-generator-data
Section: devel
Priority: optional
Maintainer: Alexis Saettler <alexis@saettler.org>
Build-Depends-Indep: debhelper (>= 5.0.0), cdbs (>= 0.4.23-1.1)
Standards-Version: 3.7.2

Package: geexbox-generator-data-i386
Architecture: all
Depends: geexbox-generator (>= 1.0arch215)
Recommends: w32codecs
Description: iso generator for GeeXboX - data for i386 arch
 GeeXboX is an awesome standalone media player.
 GeeXboX is a full operating system, running under Linux and based on the
 excellent MPlayer. No need of hard drive, you just have to put the
 GeeXboX bootable CD into the CD-Drive to boot it.
 .
 This package include the i386 architecture data files
 .
 More informations on http://www.geexbox.org

Package: geexbox-generator-data-ppc
Architecture: all
Depends: geexbox-generator (>= 1.0arch215)
Recommends: w32codecs
Description: iso generator for GeeXboX - data for ppc arch
 GeeXboX is an awesome standalone media player.
 GeeXboX is a full operating system, running under Linux and based on the
 excellent MPlayer. No need of hard drive, you just have to put the
 GeeXboX bootable CD into the CD-Drive to boot it.
 .
 This package include the ppc architecture data files
 .
 More informations on http://www.geexbox.org
