#!/bin/sh
CONFIGFILE=/etc/geexbox-generator.conf
GEEXBOX_GENERATOR=/usr/share/geexbox-generator
set -e
. /usr/share/debconf/confmodule
. $GEEXBOX_GENERATOR/language/lang.conf

if [ -e $CONFIGFILE ]; then
	. $CONFIGFILE || true
	db_set geexbox-generator/lang LANG
	db_set geexbox-generator/subfont SUBFONT
	db_set geexbox-generator/remote REMOTE
fi

LANG=`echo $LANGUAGES | sed -e "s/ /, /g"`
db_subst geexbox-generator/lang lang $LANG || true

SUBFONT=`echo $FONTS | sed -e "s/ /, /g"`
db_subst geexbox-generator/subfont subfont $SUBFONT || true

REMOTE=`echo $GEEXBOX_GENERATOR/lirc/lircrc* | sed -e "s%$GEEXBOX_GENERATOR/lirc/lircrc_%%g" -e "s/ /, /g"`
db_subst geexbox-generator/remote remote $REMOTE || true

RECEIVER=`ls $GEEXBOX_GENERATOR/lirc/lircd_* | grep -v ".conf" | sed -e "s%$GEEXBOX_GENERATOR/lirc/lircd_%%g"`
db_subst geexbox-generator/receiver receiver `echo $RECEIVER | sed -e "s/ /, /g"` || true

db_input medium geexbox-generator/lang || true
db_input medium geexbox-generator/subfont || true
db_input medium geexbox-generator/remote || true
db_input medium geexbox-generator/receiver || true
db_go || true
