#!/bin/sh
CONFIGFILE=/etc/geexbox-generator.conf
GEEXBOX_GENERATOR=/usr/share/geexbox-generator
set -e
. /usr/share/debconf/confmodule
. $GEEXBOX_GENERATOR/i18n/lang.conf

if [ -e $CONFIGFILE ]; then
	. $CONFIGFILE || true
	eval tmp_lang=\$${LANG}_name
	db_set geexbox-generator/lang $tmp_lang
	db_set geexbox-generator/charset $SUB_CHARSET
	db_set geexbox-generator/remote $REMOTE
	db_set geexbox-generator/receiver $RECEIVER
fi

first=1
LANGU=""
for l in $LANGUAGES; do
  eval tmp_lang=\$${l}_name
  if [ $first = 1 ]; then
    first=0
  else
    LANGU=$LANGU","
  fi
  LANGU=$LANGU" $tmp_lang"
done
db_subst geexbox-generator/lang lang $LANGU || true

SUB_CHARSET="DEFAULT, "`echo $LANGUAGES $CHARSETS | sed -e "s/ /, /g"`
db_subst geexbox-generator/charset charset $SUB_CHARSET || true

REMOTE=`echo $GEEXBOX_GENERATOR/lirc/lircrc* | sed -e "s%$GEEXBOX_GENERATOR/lirc/lircrc_%%g" -e "s/ /, /g"`
db_subst geexbox-generator/remote remote $REMOTE || true

RECEIVER=`ls $GEEXBOX_GENERATOR/lirc/lircd_* | grep -v ".conf" | sed -e "s%$GEEXBOX_GENERATOR/lirc/lircd_%%g"`
db_subst geexbox-generator/receiver receiver `echo $RECEIVER | sed -e "s/ /, /g"` || true

db_input medium geexbox-generator/lang || true
db_input medium geexbox-generator/charset || true
db_input medium geexbox-generator/remote || true
db_input medium geexbox-generator/receiver || true
db_go || true
