#!/usr/bin/make -f
# debian/rules file, using cdbs

# cdbs support
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk

MANPAGES:=$(patsubst %.sgml,%.1,$(wildcard debian/*.sgml))
DEB_INSTALL_MANPAGES_geexbox-generator:=$(MANPAGES)
DEB_INSTALL_DOCS_geexbox-generator:=$(wildcard DOCS/*.txt)

GENERATOR_NAME:=$(shell source config/options; echo $$GENERATOR_NAME;)
GENERATOR:=generator

GENERATOR_CONF:=debian/geexbox-generator.conf

build/geexbox-generator:: $(MANPAGES) $(GENERATOR_CONF) stamp-build
stamp-build:
	INSTALL=$(GENERATOR_NAME)/iso/GEEXBOX scripts/gentree generator full
	touch $@

debian/%.1:: debian/%.sgml
	/usr/bin/docbook-to-man $< > $@

clean::
	-rm -rf stamp-build
	-rm $(MANPAGES) $(GENERATOR_CONF)
	-rm -rf $(GENERATOR_NAME)
#	-$(MAKE) clean

$(GENERATOR_CONF):: packages/$(GENERATOR)/scripts/generator.sh
	sed -n -e"/Menu/,/RECEIVER/p" $< | sed -e"s/LANG=.*$$/LANG=/" -e"s/SUB_CHARSET=.*$$/SUB_CHARSET=/" -e"s/REMOTE=.*$$/REMOTE=/" -e"s/RECEIVER=.*$$/RECEIVER=/" > $@

install/geexbox-generator::
	install -m 755 packages/$(GENERATOR)/scripts/generator.sh $(DEB_DESTDIR)usr/bin/geexbox-generator
	cp -r $(GENERATOR_NAME)/* $(DEB_DESTDIR)usr/share/geexbox-generator/
	install -m 644 config/sort VERSION $(DEB_DESTDIR)usr/share/geexbox-generator/
	install -m 644 $(GENERATOR_CONF) $(DEB_DESTDIR)usr/share/geexbox-generator/geexbox-generator.conf.template

