#!/usr/bin/make -f
## debian/rules file, using cdbs

DEB_TAR_SRCDIR := .
##DEB_VERBOSE_ALL := yes

## cdbs support
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/tarball.mk

## disable dh_strip & dh_makeshlib :
is_debug_package = $(if $(shell test -z "$(findstring $(cdbs_curpkg),$(DEB_ARCH_PACKAGES))" && echo true),yes)
## disable dh_shlibdep :
DEB_DH_SHLIBDEPS_ARGS = $(if $(shell test -z "$(findstring $(cdbs_curpkg),$(DEB_ARCH_PACKAGES))" && echo true),--no-act)


DATA_GENERATOR := i18n iso lirc themes maps packages.ini sort VERSION
G := usr/share/geexbox-generator
S = $(CURDIR)/$(_cdbs_tarball_dir)/geexbox-generator-*
GEEXBOX-ARCH = $(subst geexbox-generator-data-,,$(cdbs_curpkg))

##--------------
## common target
##--------------
debian/%.menu: debian/geexbox-generator-data.menu.in
	sed -e "s/%ARCH%/$(patsubst debian/geexbox-generator-data-%.menu,%,$@)/g" $< > $@

debian/%.desktop: debian/geexbox-generator-data.desktop.in
	sed -e "s/%ARCH%/$(patsubst debian/geexbox-generator-data-%.desktop,%,$@)/g" $< > $@

install-desktop/%:: debian/%.desktop
	dh_installdirs -p$(cdbs_curpkg) /usr/share/applications
	install -m 644 $< $(CURDIR)/debian/$(cdbs_curpkg)/usr/share/applications

install-lintian/%:: debian/%.lintian-override
	dh_installdirs -p$(cdbs_curpkg) /usr/share/lintian/overrides
	install -m 644 $(CURDIR)/debian/$(cdbs_curpkg).lintian-override $(CURDIR)/debian/$(cdbs_curpkg)/usr/share/lintian/overrides/$(cdbs_curpkg)

install-data/%::
	dh_installdirs -p$(cdbs_curpkg) /$(G)/$(GEEXBOX-ARCH)
	cd $(S).$(GEEXBOX-ARCH) && tar cf - $(DATA_GENERATOR) | \
		tar xvf - -C $(CURDIR)/debian/$(cdbs_curpkg)/$(G)/$(GEEXBOX-ARCH)/

install-doc/%::
	cd $(S).$(GEEXBOX-ARCH) && tar cf - DOCS/* | \
		tar xvf - -C $(CURDIR)/debian/$(cdbs_curpkg)/usr/share/doc/$(cdbs_curpkg)

$(patsubst %,build/%,$(DEB_INDEP_PACKAGES)):: build/%: debian/%.menu debian/%.desktop
$(patsubst %,install/%,$(DEB_INDEP_PACKAGES)):: install/%: install-data/% install-lintian/% install-doc/% install-desktop/%
$(patsubst %,cleanbuilddir/%,$(DEB_INDEP_PACKAGES)):: cleanbuilddir/%:
	$(RM) debian/$(cdbs_curpkg).menu
	$(RM) debian/$(cdbs_curpkg).desktop

##----------------------------
## geexbox-generator-data-i386
##----------------------------
DEB_INSTALL_DIRS_geexbox-generator-data-i386 := /usr/share/doc/geexbox-generator-data-i386
DEB_INSTALL_DIRS_geexbox-generator-data-i386 += /usr/share/menu
DEB_INSTALL_DOCS_geexbox-generator-data-i386 := $(S).i386/AUTHORS
DEB_DH_LINK_geexbox-generator-data-i386 := /usr/share/geexbox-generator/geexbox-generator.sh /usr/bin/geexbox-generator-i386

##----------------------------
## geexbox-generator-data-ppc
##----------------------------
DEB_INSTALL_DIRS_geexbox-generator-data-ppc := /usr/share/doc/geexbox-generator-data-ppc
DEB_INSTALL_DIRS_geexbox-generator-data-ppc += /usr/share/menu
DEB_INSTALL_DOCS_geexbox-generator-data-ppc := $(S).ppc/AUTHORS
DEB_DH_LINK_geexbox-generator-data-ppc := /usr/share/geexbox-generator/geexbox-generator.sh /usr/bin/geexbox-generator-ppc
