source "Kconfig.generated"

# We use modules to mean opk packages
config MODULES
  bool
  option modules
  default y

#######################################
menu "General setup"
#######################################

choice
  prompt "Target architecture"
  default TARGET_ARCH_i386
  help
    Target system we want to cross compile for

config TARGET_ARCH_i386
  bool "i386"
  help
    A 32-bit x86 system

config TARGET_ARCH_x86_64
  bool "x86_64"
  help
    A 64-bit x86 system

config TARGET_ARCH_powerpc
  bool "powerpc"
  help
    A 32-bit PowerPC system

config TARGET_ARCH_powerpc64
  bool "powerpc64"
  help
    A 64-bit PowerPC system

config TARGET_ARCH_arm
  bool "arm"
  help
   An ARM system

endchoice

config GX_TARGET_PLATFORM
  string "Target platform"
  default ""
  help
    Target platform we want to run GeeXboX on (keep it blank for generic)

choice TARGET_CPU
  prompt "Target CPU"
  default TARGET_CPU_generic if (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)
  default TARGET_CPU_powerpc if TARGET_ARCH_powerpc
  default TARGET_CPU_powerpc64 if TARGET_ARCH_powerpc64
  default TARGET_CPU_cortex-a8 if TARGET_ARCH_arm
  help
    This option controls which processor should be targeted for the generated
    code.

config TARGET_CPU_generic
  bool "generic"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_k8
  bool "k8"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_k8-sse3
  bool "k8-sse3"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_opteron
  bool "opteron"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_opteron-sse3
  bool "opteron-sse3"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_athlon64
  bool "athlon64"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_athlon64-sse3
  bool "athlon64-sse3"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_athlon-fx
  bool "athlon-fx"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_amdfam10
  bool "amdfam10"
  depends on TARGET_ARCH_x86_64

config TARGET_CPU_barcelona
  bool "barcelona"
  depends on TARGET_ARCH_x86_64

config TARGET_CPU_athlon-mp
  bool "athlon-mp"
  depends on TARGET_ARCH_i386

config TARGET_CPU_athlon-xp
  bool "athlon-xp"
  depends on TARGET_ARCH_i386

config TARGET_CPU_athlon-4
  bool "athlon-4"
  depends on TARGET_ARCH_i386

config TARGET_CPU_athlon-tbird
  bool "athlon-tbird"
  depends on TARGET_ARCH_i386

config TARGET_CPU_athlon
  bool "athlon"
  depends on TARGET_ARCH_i386

config TARGET_CPU_k6-3
  bool "k6-3"
  depends on TARGET_ARCH_i386

config TARGET_CPU_k6-2
  bool "k6-2"
  depends on TARGET_ARCH_i386

config TARGET_CPU_k6
  bool "k6"
  depends on TARGET_ARCH_i386

config TARGET_CPU_geode
  bool "geode"
  depends on TARGET_ARCH_i386

config TARGET_CPU_core2
  bool "core2"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_nocona
  bool "nocona"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)

config TARGET_CPU_atom
  bool "atom"
  depends on TARGET_ARCH_x86_64 

config TARGET_CPU_prescott
  bool "prescott"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium4
  bool "pentium4"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium4m
  bool "pentium4m"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium3
  bool "pentium3"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium3m
  bool "pentium3m"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium-m
  bool "pentium-m"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium2
  bool "pentium2"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentiumpro
  bool "pentiumpro"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium-mmx
  bool "pentium-mmx"
  depends on TARGET_ARCH_i386

config TARGET_CPU_pentium
  bool "pentium"
  depends on TARGET_ARCH_i386

config TARGET_CPU_i686
  bool "i686"
  depends on TARGET_ARCH_i386

config TARGET_CPU_i586
  bool "i586"
  depends on TARGET_ARCH_i386

config TARGET_CPU_i486
  bool "i486"
  depends on TARGET_ARCH_i386

config TARGET_CPU_i386
  bool "i386"
  depends on TARGET_ARCH_i386

config TARGET_CPU_c3
  bool "c3"
  depends on TARGET_ARCH_i386

config TARGET_CPU_c3-2
  bool "c3-2"
  depends on TARGET_ARCH_i386

config TARGET_CPU_401
  bool "401"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_403
  bool "403"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_405
  bool "405"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_405fp
  bool "405fp"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_440
  bool "440"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_440fp
  bool "440fp"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_505
  bool "505"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_601
  bool "601"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_602
  bool "602"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_603
  bool "603"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_603e
  bool "603e"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_ec603e
  bool "ec603e"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_604
  bool "604"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_604e
  bool "604e"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_620
  bool "620"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_630
  bool "630"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_740
  bool "740"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_7400
  bool "7400"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_7450
  bool "7450"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_750
  bool "750"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_801
  bool "801"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_821
  bool "821"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_823
  bool "823"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_860
  bool "860"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_970
  bool "970"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_rios
  bool "rios"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_rios1
  bool "rios1"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_rios2
  bool "rios2"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_rsc
  bool "rsc"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_rs64a
  bool "rs64a"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_common
  bool "common"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_G3
  bool "G3"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_G4
  bool "G4"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_G5
  bool "G5"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_power
  bool "power"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_power2
  bool "power2"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_power3
  bool "power3"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_power4
  bool "power4"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_power5
  bool "power5"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_powerpc
  bool "powerpc"
  depends on TARGET_ARCH_powerpc

config TARGET_CPU_powerpc64
  bool "powerpc64"
  depends on (TARGET_ARCH_powerpc || TARGET_ARCH_powerpc64)

config TARGET_CPU_arm2
  bool "arm2"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm250
  bool "arm250"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm3
  bool "arm3"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm6
  bool "arm6"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm60
  bool "arm60"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm600
  bool "arm600"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm610
  bool "arm610"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm620
  bool "arm620"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7
  bool "arm7"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7m
  bool "arm7m"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7d
  bool "arm7d"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7dm
  bool "arm7dm"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7di
  bool "arm7di"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7dmi
  bool "arm7dmi"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm70
  bool "arm70"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm700
  bool "arm700"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm700i
  bool "arm700i"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm710
  bool "arm710"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm710c
  bool "arm710c"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7100
  bool "arm7100"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm720
  bool "arm720"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7500
  bool "arm7500"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7500fe
  bool "arm7500fe"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7tdmi
  bool "arm7tdmi"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm7tdmi-s
  bool "arm7tdmi-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm710t
  bool "arm710t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm720t
  bool "arm720t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm740t
  bool "arm740t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_strongarm
  bool "strongarm"
  depends on TARGET_ARCH_arm

config TARGET_CPU_strongarm110
  bool "strongarm110"
  depends on TARGET_ARCH_arm

config TARGET_CPU_strongarm1100
  bool "strongarm1100"
  depends on TARGET_ARCH_arm

config TARGET_CPU_strongarm1110
  bool "strongarm1110"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm8
  bool "arm8"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm810
  bool "arm810"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm9
  bool "arm9"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm9e
  bool "arm9e"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm920
  bool "arm920"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm920t
  bool "arm920t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm922t
  bool "arm922t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm946e-s
  bool "arm946e-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm966e-s
  bool "arm966e-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm968e-s
  bool "arm968e-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm926ej-s
  bool "arm926ej-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm940t
  bool "arm940t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm9tdmi
  bool "arm9tdmi"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm10tdmi
  bool "arm10tdmi"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1020t
  bool "arm1020t"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1026ej-s
  bool "arm1026ej-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm10e
  bool "arm10e"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1020e
  bool "arm1020e"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1022e
  bool "arm1022e"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1136j-s
  bool "arm1136j-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1136jf-s
  bool "arm1136jf-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_mpcore
  bool "mpcore"
  depends on TARGET_ARCH_arm

config TARGET_CPU_mpcorenovfp
  bool "mpcorenovfp"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1156t2-s
  bool "arm1156t2-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1176jz-s
  bool "arm1176jz-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_arm1176jzf-s
  bool "arm1176jzf-s"
  depends on TARGET_ARCH_arm

config TARGET_CPU_cortex-a8
  bool "cortex-a8"
  depends on TARGET_ARCH_arm

config TARGET_CPU_cortex-a9
  bool "cortex-a9"
  depends on TARGET_ARCH_arm

config TARGET_CPU_cortex-r4
  bool "cortex-r4"
  depends on TARGET_ARCH_arm

config TARGET_CPU_cortex-r4f
  bool "cortex-r4f"
  depends on TARGET_ARCH_arm

config TARGET_CPU_cortex-m3
  bool "cortex-m3"
  depends on TARGET_ARCH_arm

config TARGET_CPU_cortex-m1
  bool "cortex-m1"
  depends on TARGET_ARCH_arm

config TARGET_CPU_xscale
  bool "xscale"
  depends on TARGET_ARCH_arm

config TARGET_CPU_iwmmxt
  bool "iwmmxt"
  depends on TARGET_ARCH_arm

config TARGET_CPU_iwmmxt2
  bool "iwmmxt2"
  depends on TARGET_ARCH_arm

config TARGET_CPU_ep9312
  bool "ep9312"
  depends on TARGET_ARCH_arm

endchoice

choice OPTIMIZATIONS
  prompt "Optimizations"
  default OPTIMIZATIONS_SPEED
  help
    Build optimizations

config OPTIMIZATIONS_SPEED
  bool "speed"

config OPTIMIZATIONS_SIZE
  bool "size"

config OPTIMIZATIONS_NONE
  bool "none"

endchoice

config GX_TOOLCHAIN_CXX
  bool "Support C++ in toolchain"
  default n

choice COMPRESSION_METHOD
  prompt "Compression method"
  default COMPRESSION_LZMA
  help
    LZMA decrease image size but GZIP is way faster to decompress and boot.

config COMPRESSION_LZMA
  bool "lzma"

config COMPRESSION_GZIP
  bool "gzip"

config COMPRESSION_NONE
  bool "none"

endchoice

choice TARGET_LIBC
  prompt "Target libc"
  default TARGET_LIBC_EGLIBC

config TARGET_LIBC_EGLIBC
  bool "eglibc"
  select PKG_eglibc

config TARGET_LIBC_GLIBC
  bool "glibc"
  select PKG_glibc

config TARGET_LIBC_UCLIBC
  bool "uclibc"
  select PKG_uclibc

endchoice

config GX_LOCAL_CC
  string "Local gcc location"
  default ""
  help
    Need to point to your actual (host) gcc
    If you have ccache installed, take care that LOCAL_CC don't point to it
    Autodetected if left blank (default)

config GX_LOCAL_CXX
  string "Local g++ location"
  default ""
  help
    Need to point to your actual (host) g++
    If you have ccache installed, take care that LOCAL_CXX don't point to it
    Autodetected if left blank (default)

config GX_DEBUG
  bool "Debug"
  default n

config GX_DEVTOOLS
  bool "Devtools"
  default n

config GX_DYNAMIC_SYSROOT
  bool "Dynamic sysroot"
  default n
  help
   Rebuild the sysroot from scratch at each package compilation. Makes build
   slower but helps to catch wrong depends between packages.

config GX_VERBOSE
  bool "Verbose"
  default n

config GX_CONCURRENCY_MAKE_LEVEL
  int "Concurrency make level"
  default 1
  help
    Concurrency make level (-j option)
    Try value 1 (default) to 4 on single CPU computer, or more on
    multi-processor computer (like hyperthreading SMP CPU)

config INCLUDE_GEEXBOX_OPTIONS
  bool "Overlay ~/.geexbox-options"
  default y

endmenu

#######################################
menu "Settings"
#######################################

config TIMEZONE
  bool "Enable timezone support"
  default n
  select PKG_timezone-data if ( TARGET_LIBC_GLIBC || TARGET_LIBC_EGLIBC )

config GX_INCLUDED_TIMEZONES
  string "Included timezones"
  depends on TIMEZONE && ( TARGET_LIBC_GLIBC || TARGET_LIBC_EGLIBC )
  default ""
  help
    Can be empty, "all" or a list of zoneinfo names
    e.g. "Europe/Rome GMT Africa America/Kentucky"

config GX_TIMEZONE
  string "Timezone"
  depends on TIMEZONE
  default ""
  help
    Timezone to use (empty disables timezone support)
    if TARGET_LIBC=uClibc use a TZ environment string 
    if TARGET_LIBC=glibc use a zoneinfo name and remember 
    to set INCLUDED_TIMEZONES accordingly

choice KEYMAP
  prompt "Keymap"
  default KEYMAP_QWERTY

config KEYMAP_QWERTY
  bool "qwerty"

config KEYMAP_AZERTY
  bool "azerty"

config KEYMAP_QWERTZ
  bool "qwertz"

endchoice

choice REMOTE
  prompt "Remote"
  default REMOTE_atiusb

config REMOTE_animax
  bool "animax"

config REMOTE_askey
  bool "askey"

config REMOTE_atiusb
  bool "atiusb"

config REMOTE_atiusb2
  bool "atiusb2"

config REMOTE_avermedia
  bool "avermedia"

config REMOTE_cinergy1400
  bool "cinergy1400"

config REMOTE_creative
  bool "creative"

config REMOTE_D-10
  bool "D-10"

config REMOTE_digimatrix
  bool "digimatrix"

config REMOTE_dvico
  bool "dvico"

config REMOTE_flytv-prime
  bool "flytv-prime"

config REMOTE_hauppauge
  bool "hauppauge"

config REMOTE_imonknob
  bool "imonknob"

config REMOTE_leadtek
  bool "leadtek"

config REMOTE_leadtek-pvr2000
  bool "leadtek-pvr2000"

config REMOTE_LG
  bool "LG"

config REMOTE_logitech
  bool "logitech"

config REMOTE_mceusb
  bool "mceusb"

config REMOTE_MCE-X10
  bool "MCE-X10"

config REMOTE_Medion-X10
  bool "Medion-X10"

config REMOTE_nova-s-plus
  bool "nova-s-plus"

config REMOTE_packard_bell
  bool "packard_bell"

config REMOTE_pctv
  bool "pctv"

config REMOTE_realmagic
  bool "realmagic"

config REMOTE_RM-S6
  bool "RM-S6"

config REMOTE_RX-V850
  bool "RX-V850"

config REMOTE_streamzap
  bool "streamzap"

config REMOTE_tosh-vt76f
  bool "tosh-vt76f"

config REMOTE_twinhan
  bool "twinhan"

config REMOTE_ultrax
  bool "ultrax"

endchoice

choice RECEIVER
  prompt "Receiver"
  default RECEIVER_atiusb

config RECEIVER_animax
  bool "animax"

config RECEIVER_askey
  bool "askey"

config RECEIVER_avermedia
  bool "avermedia"

config RECEIVER_atiusb
  bool "atiusb"

config RECEIVER_atiusb2
  bool "atiusb2"

config RECEIVER_creative
  bool "creative"

config RECEIVER_hauppauge
  bool "hauppauge"

config RECEIVER_homemade
  bool "homemade"

config RECEIVER_irman
  bool "irman"

config RECEIVER_leadtek
  bool "leadtek"

config RECEIVER_leadtek-pvr2000
  bool "leadtek-pvr2000"

config RECEIVER_logitech
  bool "logitech"

config RECEIVER_pctv
  bool "pctv"

config RECEIVER_realmagic
  bool "realmagic"

config RECEIVER_digimatrix
  bool "digimatrix"

config RECEIVER_mceusb
  bool "mceusb"

config RECEIVER_mceusb2
  bool "mceusb2"

config RECEIVER_nuvoton
  bool "nuvoton"

config RECEIVER_streamzap
  bool "streamzap"

config RECEIVER_cx88
  bool "cx88"

config RECEIVER_imonknob
  bool "imonknob"

config RECEIVER_ultrax
  bool "ultrax"

config RECEIVER_dvico
  bool "dvico"

config RECEIVER_MCE-X10
  bool "MCE-X10"

endchoice

config GX_SUB_CHARSET
  string "Subtitles charset"
  default "en"

config LOCALE
  bool "Enable locale support"
  depends on ( TARGET_LIBC_GLIBC || TARGET_LIBC_EGLIBC )
  select PKG_i18n-locales
  default n

config GX_INCLUDED_LOCALES
  string "Included locales"
  depends on LOCALE
  default ""

config GX_DEFAULT_LOCALE
  string "Default locale"
  depends on LOCALE
  default ""

endmenu

#######################################
menu "Features"
#######################################

config GX_NETWORK
  bool "Enable networking support"
  select PKG_network
  default y

config GX_SERVICES
  bool "Start network services by default"
  depends on GX_NETWORK
  default n

config GX_PULSEAUDIO
  bool "Enable Pulseaudio support"
  select PKG_pulseaudio
  default y

config GX_XORG
  bool "Enable Xorg support"
  select PKG_Xorg
  default y

config GX_VDPAU
  bool "Enable VDPAU support"
  select PKG_libvdpau
  default n

endmenu

#######################################
menu "Packages"
#######################################
config BASE_SYSTEM
  bool "Build the GeeXboX base system"
  default y
  select PKG_base-files
  select PKG_gcc-final
  select PKG_busybox
  select PKG_util-linux-ng
  select PKG_opkg
  select PKG_linux
  select PKG_udev
  select PKG_pcmciautils
  select PKG_upstart
  select PKG_alsa
  select PKG_debug
  select PKG_enna
  select PKG_automountd
  select PKG_i18n

  source "Kconfig.packages"
endmenu

#######################################
# Autogenerated options               #
#######################################

config GX_TARGET_ARCH
  string
  default "i386" if TARGET_ARCH_i386
  default "x86_64" if TARGET_ARCH_x86_64
  default "powerpc" if TARGET_ARCH_powerpc
  default "powerpc64" if TARGET_ARCH_powerpc64
  default "arm" if TARGET_ARCH_arm

config GX_TARGET_CPU
  string
  default "generic" if TARGET_CPU_GENERIC
  default "k8" if TARGET_CPU_k8
  default "k8-sse3" if TARGET_CPU_k8-sse3
  default "opteron" if TARGET_CPU_opteron
  default "opteron-sse3" if TARGET_CPU_opteron-sse3
  default "athlon64" if TARGET_CPU_athlon64
  default "athlon64-sse3" if TARGET_CPU_athlon64-sse3
  default "athlon-fx" if TARGET_CPU_athlon-fx
  default "amdfam10" if TARGET_CPU_amdfam10
  default "barcelona" if TARGET_CPU_barcelona
  default "athlon-mp" if TARGET_CPU_athlon-mp
  default "athlon-xp" if TARGET_CPU_athlon-xp
  default "athlon-4" if TARGET_CPU_athlon-4
  default "athlon-tbird" if TARGET_CPU_athlon-tbird
  default "athlon" if TARGET_CPU_athlon
  default "k6-3" if TARGET_CPU_k6-3
  default "k6-2" if TARGET_CPU_k6-2
  default "k6" if TARGET_CPU_k6
  default "geode" if TARGET_CPU_geode
  default "core2" if TARGET_CPU_core2
  default "nocona" if TARGET_CPU_nocona
  default "atom" if TARGET_CPU_atom
  default "prescott" if TARGET_CPU_prescott
  default "pentium4" if TARGET_CPU_pentium4
  default "pentium4m" if TARGET_CPU_pentium4m
  default "pentium3" if TARGET_CPU_pentium3
  default "pentium3m" if TARGET_CPU_pentium3m
  default "pentium-m" if TARGET_CPU_pentium-m
  default "pentium2" if TARGET_CPU_pentium2
  default "pentiumpro" if TARGET_CPU_pentiumpro
  default "pentium-mmx" if TARGET_CPU_pentium-mmx
  default "pentium" if TARGET_CPU_pentium
  default "i686" if TARGET_CPU_i686
  default "i586" if TARGET_CPU_i586
  default "i486" if TARGET_CPU_i486
  default "i386" if TARGET_CPU_i386
  default "c3" if TARGET_CPU_c3
  default "c3-2" if TARGET_CPU_c3-2
  default "401" if TARGET_CPU_401
  default "403" if TARGET_CPU_403
  default "405" if TARGET_CPU_405
  default "405fp" if TARGET_CPU_405fp
  default "440" if TARGET_CPU_440
  default "440fp" if TARGET_CPU_440fp
  default "505" if TARGET_CPU_505
  default "601" if TARGET_CPU_601
  default "602" if TARGET_CPU_602
  default "603" if TARGET_CPU_603
  default "603e" if TARGET_CPU_603e
  default "ec603e" if TARGET_CPU_ec603e
  default "604" if TARGET_CPU_604
  default "604e" if TARGET_CPU_604e
  default "620" if TARGET_CPU_620
  default "630" if TARGET_CPU_630
  default "740" if TARGET_CPU_740
  default "7400" if TARGET_CPU_7400
  default "7450" if TARGET_CPU_7450
  default "750" if TARGET_CPU_750
  default "801" if TARGET_CPU_801
  default "821" if TARGET_CPU_821
  default "823" if TARGET_CPU_823
  default "860" if TARGET_CPU_860
  default "970" if TARGET_CPU_970
  default "rios" if TARGET_CPU_rios
  default "rios1" if TARGET_CPU_rios1
  default "rios2" if TARGET_CPU_rios2
  default "rsc" if TARGET_CPU_rsc
  default "rs64a" if TARGET_CPU_rs64a
  default "common" if TARGET_CPU_common
  default "G3" if TARGET_CPU_G3
  default "G4" if TARGET_CPU_G4
  default "G5" if TARGET_CPU_G5
  default "power" if TARGET_CPU_power
  default "power2" if TARGET_CPU_power2
  default "power3" if TARGET_CPU_power3
  default "power4" if TARGET_CPU_power4
  default "power5" if TARGET_CPU_power5
  default "powerpc" if TARGET_CPU_powerpc
  default "powerpc64" if TARGET_CPU_powerpc64
  default "arm2" if TARGET_CPU_arm2
  default "arm250" if TARGET_CPU_arm250
  default "arm3" if TARGET_CPU_arm3
  default "arm6" if TARGET_CPU_arm6
  default "arm60" if TARGET_CPU_arm60
  default "arm600" if TARGET_CPU_arm600
  default "arm610" if TARGET_CPU_arm610
  default "arm620" if TARGET_CPU_arm620
  default "arm7" if TARGET_CPU_arm7
  default "arm7m" if TARGET_CPU_arm7m
  default "arm7d" if TARGET_CPU_arm7d
  default "arm7dm" if TARGET_CPU_arm7dm
  default "arm7di" if TARGET_CPU_arm7di
  default "arm7dmi" if TARGET_CPU_arm7dmi
  default "arm70" if TARGET_CPU_arm70
  default "arm700" if TARGET_CPU_arm700
  default "arm700i" if TARGET_CPU_arm700i
  default "arm710" if TARGET_CPU_arm710
  default "arm710c" if TARGET_CPU_arm710c
  default "arm7100" if TARGET_CPU_arm7100
  default "arm720" if TARGET_CPU_arm720
  default "arm7500" if TARGET_CPU_arm7500
  default "arm7500fe" if TARGET_CPU_arm7500fe
  default "arm7tdmi" if TARGET_CPU_arm7tdmi
  default "arm7tdmi-s" if TARGET_CPU_arm7tdmi-s
  default "arm710t" if TARGET_CPU_arm710t
  default "arm720t" if TARGET_CPU_arm720t
  default "arm740t" if TARGET_CPU_arm740t
  default "strongarm" if TARGET_CPU_strongarm
  default "strongarm110" if TARGET_CPU_strongarm110
  default "strongarm1100" if TARGET_CPU_strongarm1100
  default "strongarm1110" if TARGET_CPU_strongarm1110
  default "arm8" if TARGET_CPU_arm8
  default "arm810" if TARGET_CPU_arm810
  default "arm9" if TARGET_CPU_arm9
  default "arm9e" if TARGET_CPU_arm9e
  default "arm920" if TARGET_CPU_arm920
  default "arm920t" if TARGET_CPU_arm920t
  default "arm922t" if TARGET_CPU_arm922t
  default "arm946e-s" if TARGET_CPU_arm946e-s
  default "arm966e-s" if TARGET_CPU_arm966e-s
  default "arm968e-s" if TARGET_CPU_arm968e-s
  default "arm926ej-s" if TARGET_CPU_arm926ej-s
  default "arm940t" if TARGET_CPU_arm940t
  default "arm9tdmi" if TARGET_CPU_arm9tdmi
  default "arm10tdmi" if TARGET_CPU_arm10tdmi
  default "arm1020t" if TARGET_CPU_arm1020t
  default "arm1026ej-s" if TARGET_CPU_arm1026ej-s
  default "arm10e" if TARGET_CPU_arm10e
  default "arm1020e" if TARGET_CPU_arm1020e
  default "arm1022e" if TARGET_CPU_arm1022e
  default "arm1136j-s" if TARGET_CPU_arm1136j-s
  default "arm1136jf-s" if TARGET_CPU_arm1136jf-s
  default "mpcore" if TARGET_CPU_mpcore
  default "mpcorenovfp" if TARGET_CPU_mpcorenovfp
  default "arm1156t2-s" if TARGET_CPU_arm1156t2-s
  default "arm1176jz-s" if TARGET_CPU_arm1176jz-s
  default "arm1176jzf-s" if TARGET_CPU_arm1176jzf-s
  default "cortex-a8" if TARGET_CPU_cortex-a8
  default "cortex-a9" if TARGET_CPU_cortex-a9
  default "cortex-r4" if TARGET_CPU_cortex-r4
  default "cortex-r4f" if TARGET_CPU_cortex-r4f
  default "cortex-m3" if TARGET_CPU_cortex-m3
  default "cortex-m1" if TARGET_CPU_cortex-m1
  default "xscale" if TARGET_CPU_xscale
  default "iwmmxt" if TARGET_CPU_iwmmxt
  default "iwmmxt2" if TARGET_CPU_iwmmxt2
  default "ep9312" if TARGET_CPU_ep9312

config GX_OPTIMIZATIONS
  string
  default "speed" if OPTIMIZATIONS_SPEED
  default "size" if OPTIMIZATIONS_SIZE
  default "no" if OPTIMIZATIONS_NONE

config GX_COMPRESSION_METHOD
  string
  default "lzma" if COMPRESSION_LZMA
  default "gzip" if COMPRESSION_GZIP
  default "none" if COMPRESSION_NONE

config GX_TARGET_LIBC
  string
  default "eglibc" if TARGET_LIBC_EGLIBC
  default "glibc" if TARGET_LIBC_GLIBC
  default "uclibc" if TARGET_LIBC_UCLIBC

config GX_KEYMAP
  string
  default "qwerty" if KEYMAP_QWERTY
  default "azerty" if KEYMAP_AZERTY
  default "qwertz" if KEYMAP_QWERTZ

config GX_REMOTE
  string
  default "animax" if REMOTE_animax
  default "askey" if REMOTE_askey
  default "atiusb" if REMOTE_atiusb
  default "atiusb2" if REMOTE_atiusb2
  default "avermedia" if REMOTE_avermedia
  default "cinergy1400" if REMOTE_cinergy1400
  default "creative" if REMOTE_creative
  default "D-10" if REMOTE_D-10
  default "digimatrix" if REMOTE_digimatrix
  default "dvico" if REMOTE_dvico
  default "flytv-prime" if REMOTE_flytv-prime
  default "hauppauge" if REMOTE_hauppauge
  default "imonknob" if REMOTE_imonknob
  default "leadtek" if REMOTE_leadtek
  default "leadtek-pvr2000" if REMOTE_leadtek-pvr2000
  default "LG" if REMOTE_LG
  default "logitech" if REMOTE_logitech
  default "mceusb" if REMOTE_mceusb
  default "MCE-X10" if REMOTE_MCE-X10
  default "Medion-X10" if REMOTE_Medion-X10
  default "nova-s-plus" if REMOTE_nova-s-plus
  default "packard_bell" if REMOTE_packard_bell
  default "pctv" if REMOTE_pctv
  default "realmagic" if REMOTE_realmagic
  default "RM-S6" if REMOTE_RM-S6
  default "RX-V850" if REMOTE_RX-V850
  default "streamzap" if REMOTE_streamzap
  default "tosh-vt76f" if REMOTE_tosh-vt76f
  default "twinhan" if REMOTE_twinhan
  default "ultrax" if REMOTE_ultrax

config GX_RECEIVER
  string
  default "animax" if RECEIVER_animax
  default "askey" if RECEIVER_askey
  default "avermedia" if RECEIVER_avermedia
  default "atiusb" if RECEIVER_atiusb
  default "atiusb2" if RECEIVER_atiusb2
  default "creative" if RECEIVER_creative
  default "hauppauge" if RECEIVER_hauppauge
  default "homemade" if RECEIVER_homemade
  default "irman" if RECEIVER_irman
  default "leadtek" if RECEIVER_leadtek
  default "leadtek-pvr2000" if RECEIVER_leadtek-pvr2000
  default "logitech" if RECEIVER_logitech
  default "pctv" if RECEIVER_pctv
  default "realmagic" if RECEIVER_realmagic
  default "digimatrix" if RECEIVER_digimatrix
  default "mceusb" if RECEIVER_mceusb
  default "mceusb2" if RECEIVER_mceusb2
  default "nuvoton" if RECEIVER_nuvoton
  default "streamzap" if RECEIVER_streamzap
  default "cx88" if RECEIVER_cx88
  default "imonknob" if RECEIVER_imonknob
  default "ultrax" if RECEIVER_ultrax
  default "dvico" if RECEIVER_dvico
  default "MCE-X10" if RECEIVER_MCE-X10

