# This file defines the remote and receiver configuration options

choice REMOTE
  prompt "Remote"
  default REMOTE_atiusb

config REMOTE_animax
  bool "animax"

config REMOTE_askey
  bool "askey"

config REMOTE_atiusb
  bool "atiusb"

config REMOTE_atiusb2
  bool "atiusb2"

config REMOTE_avermedia
  bool "avermedia"

config REMOTE_cinergy1400
  bool "cinergy1400"

config REMOTE_creative
  bool "creative"

config REMOTE_D-10
  bool "D-10"

config REMOTE_digimatrix
  bool "digimatrix"

config REMOTE_dvico
  bool "dvico"

config REMOTE_flytv-prime
  bool "flytv-prime"

config REMOTE_hauppauge
  bool "hauppauge"

config REMOTE_imonknob
  bool "imonknob"

config REMOTE_leadtek
  bool "leadtek"

config REMOTE_leadtek-pvr2000
  bool "leadtek-pvr2000"

config REMOTE_LG
  bool "LG"

config REMOTE_logitech
  bool "logitech"

config REMOTE_mceusb
  bool "mceusb"

config REMOTE_MCE-X10
  bool "MCE-X10"

config REMOTE_Medion-X10
  bool "Medion-X10"

config REMOTE_nova-s-plus
  bool "nova-s-plus"

config REMOTE_packard_bell
  bool "packard_bell"

config REMOTE_pctv
  bool "pctv"

config REMOTE_realmagic
  bool "realmagic"

config REMOTE_RM-S6
  bool "RM-S6"

config REMOTE_RX-V850
  bool "RX-V850"

config REMOTE_streamzap
  bool "streamzap"

config REMOTE_tosh-vt76f
  bool "tosh-vt76f"

config REMOTE_twinhan
  bool "twinhan"

config REMOTE_ultrax
  bool "ultrax"

endchoice

choice RECEIVER
  prompt "Receiver"
  default RECEIVER_atiusb

config RECEIVER_animax
  bool "animax"

config RECEIVER_askey
  bool "askey"

config RECEIVER_avermedia
  bool "avermedia"

config RECEIVER_atiusb
  bool "atiusb"

config RECEIVER_atiusb2
  bool "atiusb2"

config RECEIVER_creative
  bool "creative"

config RECEIVER_hauppauge
  bool "hauppauge"

config RECEIVER_homemade
  bool "homemade"

config RECEIVER_irman
  bool "irman"

config RECEIVER_leadtek
  bool "leadtek"

config RECEIVER_leadtek-pvr2000
  bool "leadtek-pvr2000"

config RECEIVER_logitech
  bool "logitech"

config RECEIVER_pctv
  bool "pctv"

config RECEIVER_realmagic
  bool "realmagic"

config RECEIVER_digimatrix
  bool "digimatrix"

config RECEIVER_mceusb
  bool "mceusb"

config RECEIVER_mceusb2
  bool "mceusb2"

config RECEIVER_nuvoton
  bool "nuvoton"

config RECEIVER_streamzap
  bool "streamzap"

config RECEIVER_cx88
  bool "cx88"

config RECEIVER_imonknob
  bool "imonknob"

config RECEIVER_ultrax
  bool "ultrax"

config RECEIVER_dvico
  bool "dvico"

config RECEIVER_MCE-X10
  bool "MCE-X10"

endchoice

config GX_REMOTE
  string
  default "animax" if REMOTE_animax
  default "askey" if REMOTE_askey
  default "atiusb" if REMOTE_atiusb
  default "atiusb2" if REMOTE_atiusb2
  default "avermedia" if REMOTE_avermedia
  default "cinergy1400" if REMOTE_cinergy1400
  default "creative" if REMOTE_creative
  default "D-10" if REMOTE_D-10
  default "digimatrix" if REMOTE_digimatrix
  default "dvico" if REMOTE_dvico
  default "flytv-prime" if REMOTE_flytv-prime
  default "hauppauge" if REMOTE_hauppauge
  default "imonknob" if REMOTE_imonknob
  default "leadtek" if REMOTE_leadtek
  default "leadtek-pvr2000" if REMOTE_leadtek-pvr2000
  default "LG" if REMOTE_LG
  default "logitech" if REMOTE_logitech
  default "mceusb" if REMOTE_mceusb
  default "MCE-X10" if REMOTE_MCE-X10
  default "Medion-X10" if REMOTE_Medion-X10
  default "nova-s-plus" if REMOTE_nova-s-plus
  default "packard_bell" if REMOTE_packard_bell
  default "pctv" if REMOTE_pctv
  default "realmagic" if REMOTE_realmagic
  default "RM-S6" if REMOTE_RM-S6
  default "RX-V850" if REMOTE_RX-V850
  default "streamzap" if REMOTE_streamzap
  default "tosh-vt76f" if REMOTE_tosh-vt76f
  default "twinhan" if REMOTE_twinhan
  default "ultrax" if REMOTE_ultrax

config GX_RECEIVER
  string
  default "animax" if RECEIVER_animax
  default "askey" if RECEIVER_askey
  default "avermedia" if RECEIVER_avermedia
  default "atiusb" if RECEIVER_atiusb
  default "atiusb2" if RECEIVER_atiusb2
  default "creative" if RECEIVER_creative
  default "hauppauge" if RECEIVER_hauppauge
  default "homemade" if RECEIVER_homemade
  default "irman" if RECEIVER_irman
  default "leadtek" if RECEIVER_leadtek
  default "leadtek-pvr2000" if RECEIVER_leadtek-pvr2000
  default "logitech" if RECEIVER_logitech
  default "pctv" if RECEIVER_pctv
  default "realmagic" if RECEIVER_realmagic
  default "digimatrix" if RECEIVER_digimatrix
  default "mceusb" if RECEIVER_mceusb
  default "mceusb2" if RECEIVER_mceusb2
  default "nuvoton" if RECEIVER_nuvoton
  default "streamzap" if RECEIVER_streamzap
  default "cx88" if RECEIVER_cx88
  default "imonknob" if RECEIVER_imonknob
  default "ultrax" if RECEIVER_ultrax
  default "dvico" if RECEIVER_dvico
  default "MCE-X10" if RECEIVER_MCE-X10

