#######################
# Target platform     #
#######################
config TARGET_PLATFORM_generic
  bool
  default n

choice
  prompt "Target platforn"
  default TARGET_PLATFORM_x86_generic if (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)
  default TARGET_PLATFORM_powerpc_generic if TARGET_ARCH_powerpc
  default TARGET_PLATFORM_powerpc64_generic if TARGET_ARCH_powerpc64
  default TARGET_PLATFORM_arm_omap3 if TARGET_ARCH_arm
  default TARGET_PLATFORM_mips_generic if TARGET_ARCH_mips
  help
    Target platform

config TARGET_PLATFORM_x86_generic
  bool "generic"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)
  select TARGET_PLATFORM_generic
  select TARGET_CPU_generic
  help
    A generic x86 system

config TARGET_PLATFORM_x86_64_ion
  bool "nVidia ION"
  depends on  TARGET_ARCH_x86_64
  select TARGET_CPU_atom
  select TAINT
  select USE_xorg
  select USE_vdpau
  select PKG_xf86-video-nvidia
  help
    nVidia ION system

config TARGET_PLATFORM_x86_vmware
  bool "VMware"
  depends on (TARGET_ARCH_i386 || TARGET_ARCH_x86_64)
  select TARGET_CPU_generic
  select PKG_xf86-video-vmware if USE_xorg
  help
    VMware virtual machine

config TARGET_PLATFORM_powerpc_generic
  bool "generic"
  depends on TARGET_ARCH_powerpc
  select TARGET_PLATFORM_generic
  select TARGET_CPU_powerpc
  help
    A generic 32-bit PowerPC system

config TARGET_PLATFORM_powerpc64_generic
  bool "generic"
  depends on TARGET_ARCH_powerpc64
  select TARGET_PLATFORM_generic
  select TARGET_CPU_powerpc64
  help
    A generic 64-bit PowerPC system

config TARGET_PLATFORM_arm_omap3
  bool "OMAP3"
  depends on TARGET_ARCH_arm
  select TARGET_CPU_cortex-a8
  select PKG_xf86-video-fbdev if USE_xorg
  select PKG_xf86-video-omapfb if USE_xorg
  help
    A generic TI OMAP3 system

config TARGET_PLATFORM_mips_generic
  bool "generic"
  depends on TARGET_ARCH_mips
  select TARGET_PLATFORM_generic
  select TARGET_CPU_mips32
  help
    A generic 32-bit MIPS system

endchoice

config GX_TARGET_PLATFORM
  string
  default "generic" if TARGET_PLATFORM_generic
  default "ion" if TARGET_PLATFORM_x86_64_ion
  default "vmware" if TARGET_PLATFORM_x86_vmware
  default "omap3" if TARGET_PLATFORM_arm_omap3
