config TASK_geexbox
  bool "GeeXboX - Embedded Linux Media Center Distribution"
  select PKG_base-files
  select PKG_gcc-final
  select PKG_busybox
  select PKG_util-linux-ng
  select PKG_linux
  select PKG_udev
  select PKG_upstart
  select PKG_opkg
  select PKG_pcmciautils
  select PKG_alsa
  select PKG_debug
  select PKG_enna
  select PKG_automountd
  select PKG_i18n
  help
    GeeXboX is a free and Open Source Media-Center purposed Linux distribution
    for embedded devices and desktop computers. GeeXboX is not an application,
    it's a full-featured OS, that one can boot as a LiveCD, from a USB key, an
    SD/MMC card or install on its regular HDD. The GeeXboX distribution is 
    lightweight and designed for one single goal: embed all major multimedia 
    applications as to turn your computer into an HTPC.
