[enna]
verbosity=none
fullscreen=1
use_covers=1
use_snapshots=1
theme=default
engine=software_x11
backend=libplayer

music_ext=3gp,aac,ape,apl,flac,m4a,mac,mka,mp2,mp3,mp4,mpc,ogg,ra,wav,wma
video_ext=asf,avi,divx,dvr-ms,flv,m1v,m2v,m4p,m4v,mkv,mov,mp4,mp4v,mpe,mpeg,mpg,ogm,qt,rm,rmvb,swf,ts,vdr,vob,vro,wmv,y4m
photo_ext=jpg,jpeg,png,gif,tif,tiff,xpm

[libplayer]
type=mplayer
video_out=auto
audio_out=auto
verbosity=none

# Metadata module (video)
blacklist_keywords=1080p,720p,ctu,divx,dvdrip,dvdscr,fqm,hdtv,lol,notv,pdtv,screencam,screener,vtv,x264,xvid,dsr,dimension,2hd,fov,dot,booya,proper,sys,crimson,etach,repack,caph,xor,0tv,mainevent,reseed,pushercrew

[localfiles]
path_music=file:///mnt,Music,icon/favorite
path_video=file:///mnt,Movies,icon/favorite
path_photo=file:///mnt,Photos,icon/favorite

[netstreams]
stream_video=http://mafreebox.freebox.fr/freeboxtv/playlist.m3u,FreeboxTV,icon/freeboxtv

[weather]
city=Paris
lang=en

[valhalla]
path=file:///mnt
verbosity=info
parser_number=2
commit_interval=128
scan_loop=-1
scan_sleep=900
scan_priority=19
