#!/bin/sh

. config/path

[ -f config/options ] || echo ". config/path" > config/options

export BUILD=$BUILD_NOARCH
$SCRIPTS/unpack bst-kconfig

cat > config/Kconfig.generated <<EOF
# GeeXboX version string
config KERNELVERSION
  string
  default "$GEEXBOX_VERSION"
EOF

cat > config/Kconfig.platform <<EOF
#######################
# Target platform     #
#######################

choice
  prompt "Target platform"
EOF

for i in config/platforms/*; do
  arch=`basename $i`
  ARCHS="$ARCHS $arch"
  echo "  default TARGET_PLATFORM_${arch}_generic if TARGET_ARCH_${arch}" >> config/Kconfig.platform
done

cat >> config/Kconfig.platform <<EOF
  help
    Target platform
EOF

for arch in $ARCHS; do
  cat config/platforms/$arch/*/Kconfig >> config/Kconfig.platform
done

cat >> config/Kconfig.platform <<EOF
endchoice

config GX_TARGET_PLATFORM
  string
EOF

for arch in $ARCHS; do
  for i in config/platforms/$arch/*; do
    platform=`basename $i`
    echo "  default \"${platform}\" if TARGET_PLATFORM_${arch}_${platform}" >> config/Kconfig.platform
  done
done

cat config/tasks/*/Kconfig > config/Kconfig.tasks

touch $STAMPS_NOARCH/kconfiginit
