#!/bin/sh

. config/path

[ -f config/options ] || echo ". config/path" > config/options

export BUILD=$BUILD_NOARCH
$SCRIPTS/unpack bst-kconfig

cat > config/Kconfig.generated <<EOF
# GeeXboX version string
config KERNELVERSION
  string
  default "$GEEXBOX_VERSION"

# GeeXboX default configuration
config DEFCONFIG_LIST
  string
  option defconfig_list
  default "../../config/geexbox_defconfig"
EOF

$SCRIPTS/meta2kconfig

touch $STAMPS_NOARCH/kconfiginit
