#!/bin/sh

. config/path

[ -f config/options ] || echo ". config/path" > config/options

$SCRIPTS/unpack bst-kconfig

KCONFIG_ROOT=`ls -d $BUILD/bst-kconfig-*`

cat > $KCONFIG_ROOT/Kconfig.generated <<EOF
# GeeXboX version string
config KERNELVERSION
  string
  default "$GEEXBOX_VERSION"

# GeeXboX default configuration
config DEFCONFIG_LIST
  string
  option defconfig_list
  default "$ROOT/config/geexbox_defconfig"
EOF

$SCRIPTS/meta2kconfig $KCONFIG_ROOT/Kconfig.packages

touch $STAMPS_NOARCH/kconfiginit
