#!/bin/sh

. config/path

export BUILD=$BUILD_NOARCH

case $1 in
"config")
    conf_tool_name="conf"
    conf_tool_options=""
    ;;
"silentoldconfig")
    conf_tool_name="conf"
    conf_tool_options="--silentoldconfig"
    ;;
"oldconfig")
    conf_tool_name="conf"
    conf_tool_options="--oldconfig"
    ;;
"menuconfig")
    conf_tool_name="mconf"
    conf_tool_options=""
    ;;
"xconfig")
    conf_tool_name="qconf"
    conf_tool_options=""
    ;;
"gconfig")
    conf_tool_name="gconf"
    conf_tool_options=""
    ;;
*)
    exit 1;;
esac

conf_tool="frontends/${conf_tool_name}/${conf_tool_name}"

# force rebuild if required tool is not there yet
if [ ! -f $BUILD/kconfig-frontends-*/${conf_tool} ]; then
  rm -f $BUILD/.stamps/kconfig-frontends/build
  $SCRIPTS/build kconfig-frontends ${conf_tool_name}
fi

# generate the config file
cd $BUILD/kconfig-frontends-*

# conf --silentoldconfig needs these folders
mkdir -p include/config include/generated

${conf_tool} ${conf_tool_options} ../../../config/Kconfig.main

