#!/bin/sh

. config/path

KCONFIG="`ls -d $BUILD/bst-kconfig-*`/.config"

if [ ! -f "$KCONFIG" ]; then
  echo "Cannot find .config, aborting."
  exit 1
fi

# take the CONFIG_GX_ options, remove the prefix and add to config/options
grep -E '^CONFIG_GX_' $KCONFIG | sed s/^CONFIG_GX_// | uniq > config/options

# convert =y/=n to =yes/=no
sed -i -e 's/^\(.*\)=y/\1=yes/' -e 's/^\(.*\)=n/\1=no/' config/options

# packages to be installed to rootfs
PKG_YES=`grep -E '^CONFIG_PKG_.*=y' $KCONFIG | sed 's/^CONFIG_PKG_\(.*\)=y/\1/' | xargs`

echo "ROOTFS_PACKAGES=\"$PKG_YES\"" >> config/options

# packages to be only built as opk
PKG_MOD=`grep -E '^CONFIG_PKG_.*=m' $KCONFIG | sed 's/^CONFIG_PKG_\(.*\)=m/\1/' | xargs`

echo "OPK_PACKAGES=\"$PKG_MOD\"" >> config/options

# enable overlay
grep 'CONFIG_OVERLAY_GEEXBOX_OPTIONS=y' $KCONFIG && \
  echo 'test -f "$HOME/.geexbox-options" && . "$HOME/.geexbox-options"' \
    >> config/options

# write mandatory stuff
cat >> config/options <<EOF

# Need to point to your actual cc
# If you have ccache installed, take care that LOCAL_CC don't point to it
LOCAL_CC=`which gcc`

# Need to point to your actual g++
# If you have ccache installed, take care that LOCAL_CXX don't point to it
LOCAL_CXX=`which g++`

. config/path
EOF
