html {
	background-color: #9b9b9b;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

a, a:visited, a:active {
	color: #333366;
}

#headPlayerState {
	background-image: url("L1bg.png");
	background-repeat: repeat-x;
	height: 25px;
	width: 100%;
	text-align: center;
	color: #202020;
	border-bottom: 1px solid black;
}

#menuL1 {
	width: 100%;
	height: 30px;
	background-image: url("L1bg.png");
	background-repeat: repeat-x;
	border-top: 1px solid black;
	text-align: center;
	padding-top: 2px;
}

.menuL1Element {
	margin-left: 10px;
	margin-right: 10px;
	background-image: url("L1bg.png");
	font-size: 15pt;
}

#menuL2 {
	width: 100%;
	height: 20px;
	border-top: 1px solid gray;
	border-bottom: 1px solid black;
	text-align: center;
}

#browserBar {
	width: 100%;
	text-align: center;
	margin-bottom: -20px;
}

.browserDirHead {
	margin-top: 30px;
	padding: 3px;
	background-color: gray;
	border: 1px solid black;
}

.browserDirContent {
	margin-left: 20px;
}

#searchBox {
	background-image: url("searchBox/searchboxbg.png");
	height: 30px;
	width: 230px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
}

#searchBox fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}

#searchBoxTextField {
	position: absolute;
	height: 16px;
	width: 175px;
	margin-top: 5px;
	margin-left: 33px;
	background-color: #aaaaaa;
	border: 1px solid black;
}

#searchBoxButton {
	position: absolute;
	margin-top: 4px;
	margin-left: 7px;
}

#webmoteControl{
	margin-left: auto;
	margin-right: auto;
	background-image: url("webmote/webmotebg.png");
	width: 230px;
	height: 347px;
	text-align: left;
}

#webmoteControlButtonPlay {
	position: absolute;
	margin-top: 20px;
	margin-left: 30px;
}

#webmoteControlButtonPause {
	position: absolute;
	margin-top: 22px;
	margin-left: 75px;
}

#webmoteControlButtonStop {
	position: absolute;
	margin-top: 21px;
	margin-left: 121px;
}

#webmoteControlButtonMenu {
	position: absolute;
	margin-top: 22px;
	margin-left: 164px;
}

#webmoteControlButtonPreviousTrack {
	position: absolute;
	margin-top: 60px;
	margin-left: 30px;
}

#webmoteControlButtonNextTrack {
	position: absolute;
	margin-top: 60px;
	margin-left: 170px;
}

#webmoteControlButtonVolumeDecrease {
	position: absolute;
	margin-top: 110px;
	margin-left: 24px;
}

#webmoteControlButtonVolumeIncrease {
	position: absolute;
	margin-top: 110px;
	margin-left: 162px;
}

#webmoteControlButtonMute {
	position: absolute;
	margin-top: 140px;
	margin-left: 24px;
}

#webmoteControlButtonMenuUp {
	position: absolute;
	margin-top: 70px;
	margin-left: 100px;
}

#webmoteControlButtonMenuDown {
	position: absolute;
	margin-top: 139px;
	margin-left: 100px;
}

#webmoteControlButtonMenuLeft {
	position: absolute;
	margin-top: 108px;
	margin-left: 62px;
}

#webmoteControlButtonMenuRight {
	position: absolute;
	margin-top: 108px;
	margin-left: 130px;
}

#webmoteControlButtonMenuSelect {
	position: absolute;
	margin-top: 108px;
	margin-left: 100px;
}

#webmoteControlButtonSeekBack {
	position: absolute;
	margin-top: 180px;
	margin-left: 30px;
}

#webmoteControlButtonSeekBackFast {
	position: absolute;
	margin-top: 180px;
	margin-left: 70px;
}

#webmoteControlButtonSeekForward {
	position: absolute;
	margin-top: 180px;
	margin-left: 170px;
}

#webmoteControlButtonSeekFastForward {
	position: absolute;
	margin-top: 180px;
	margin-left: 122px;
}

#webmoteControlButtonDvdnavUp {
	position: absolute;
	margin-top: 203px;
	margin-left: 100px;
}

#webmoteControlButtonDvdnavDown {
	position: absolute;
	margin-top: 272px;
	margin-left: 100px;
}

#webmoteControlButtonDvdnavLeft {
	position: absolute;
	margin-top: 241px;
	margin-left: 62px;
}

#webmoteControlButtonDvdnavRight {
	position: absolute;
	margin-top: 241px;
	margin-left: 130px;
}

#webmoteControlButtonDvdnavSelect {
	position: absolute;
	margin-top: 241px;
	margin-left: 100px;
}

#webmoteControlButtonDvdnavMenu {
	position: absolute;
	margin-top: 282px;
	margin-left: 24px;
}

#webmoteControlMarkerDvd {
	position: absolute;
	margin-top: 270px;
	margin-left: 128px;
}

#webmoteControlAspectRatioButton {
	position: absolute;
	margin-top: 282px;
	margin-left: 170px;
}

#seekBar{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	background-image: url("seekBar/seekbarbg.png");
	width: 320px;
	height: 30px;
	text-align: left;
}

#seekBarButtonPreviousTrack {
	position: absolute;
	margin-top: 7px;
	margin-left: 65px;
}

#seekBarButtonNextTrack {
	position: absolute;
	margin-top: 7px;
	margin-left: 255px;
}

#seekBarButtonVolumeDecrease {
	position: absolute;
	margin-top: 4px;
	margin-left: 4px;
}

#seekBarButtonVolumeIncrease {
	position: absolute;
	margin-top: 4px;
	margin-left: 33px;
}

#seekBarButtonMute {
	position: absolute;
	margin-top: 0px;
	margin-left: 4px;
	display: none;
}

#seekBarButtonPause {
	position: absolute;
	margin-top: 7px;
	margin-left: 283px;
}

.seekBarSeekField {
	position: absolute;
	margin-top: 5px;
	border: 1px dotted black;
	border-left: none;
	border-right: none;
}

#seekBar0 {
	margin-left: 95px;
}

#seekBar2 {
	margin-left: 98px;
}

#seekBar4 {
	margin-left: 101px;
}

#seekBar6 {
	margin-left: 104px;
}

#seekBar8 {
	margin-left: 107px;
}

#seekBar10 {
	margin-left: 110px;
}

#seekBar12 {
	margin-left: 113px;
}

#seekBar14 {
	margin-left: 116px;
}

#seekBar16 {
	margin-left: 119px;
}

#seekBar18 {
	margin-left: 122px;
}

#seekBar20 {
	margin-left: 125px;
}

#seekBar22 {
	margin-left: 128px;
}

#seekBar24 {
	margin-left: 131px;
}

#seekBar26 {
	margin-left: 134px;
}

#seekBar28 {
	margin-left: 137px;
}

#seekBar30 {
	margin-left: 140px;
}

#seekBar32 {
	margin-left: 143px;
}

#seekBar34 {
	margin-left: 146px;
}

#seekBar36 {
	margin-left: 149px;
}

#seekBar38 {
	margin-left: 152px;
}

#seekBar40 {
	margin-left: 155px;
}

#seekBar42 {
	margin-left: 158px;
}

#seekBar44 {
	margin-left: 161px;
}

#seekBar46 {
	margin-left: 164px;
}

#seekBar48 {
	margin-left: 167px;
}

#seekBar50 {
	margin-left: 170px;
}

#seekBar52 {
	margin-left: 173px;
}

#seekBar54 {
	margin-left: 176px;
}

#seekBar56 {
	margin-left: 179px;
}

#seekBar58 {
	margin-left: 182px;
}

#seekBar60 {
	margin-left: 185px;
}

#seekBar62 {
	margin-left: 188px;
}

#seekBar64 {
	margin-left: 191px;
}

#seekBar66 {
	margin-left: 194px;
}

#seekBar68 {
	margin-left: 197px;
}

#seekBar70 {
	margin-left: 200px;
}

#seekBar72 {
	margin-left: 203px;
}

#seekBar74 {
	margin-left: 206px;
}

#seekBar76 {
	margin-left: 209px;
}

#seekBar78 {
	margin-left: 212px;
}

#seekBar80 {
	margin-left: 215px;
}

#seekBar82 {
	margin-left: 218px;
}

#seekBar84 {
	margin-left: 221px;
}

#seekBar86 {
	margin-left: 224px;
}

#seekBar88 {
	margin-left: 227px;
}

#seekBar90 {
	margin-left: 230px;
}

#seekBar92 {
	margin-left: 233px;
}

#seekBar94 {
	margin-left: 236px;
}

#seekBar96 {
	margin-left: 239px;
}

#seekBar98 {
	margin-left: 242px;
}

#seekBar100 {
	margin-left: 245px;
}