body {background-color: #C0C6DD; font-family: Arial; font-size: 11px; text-align:center}
p {color: white; }
h2 {color: #23446f; font-family: Arial; font-size: 10px; line-height: 1px; text-align:center; margin-top:15px; margin-bottom:15px}
h4 {color: #23446F; font-family: Arial; font-size: 10px; line-height: 9px; text-align:center}
TABLE {border-spacing:1px; border:0px; background-color:#000000; padding:0px; margin-left:auto; margin-right:auto;}
TABLE.readers {border-spacing:1px; border: 2px solid #000000; padding:1px;background-color: #000000;  empty-cells:show;-moz-border-radius: 7px;}
TABLE.users {border-spacing:1px; border: 2px solid #000000; padding:1px;background-color: #000000;  empty-cells:show;-moz-border-radius: 7px;}
TABLE.stats {border-spacing:1px; border: 2px solid #000000; padding:1px;background-color: #000000;  empty-cells:show;-moz-border-radius: 7px;}
TABLE.menu {border-spacing:0px; border:0px; padding:0px; margin-left:auto; margin-right:auto; border: 6px outset #C0C6DD;}
TABLE.status {border-spacing:1px; border:0px; padding:3px; background-color:#000000; empty-cells:show;-moz-border-radius: 8px;}
TABLE.config {width:750px; border-spacing:1px; border: 2px solid #000000; padding:1px;background-color: #000000;  empty-cells:show;-moz-border-radius: 7px;}
TH {height:10px; border:0px; font-family: Arial; font-size: 12px; padding:5px; background-color:#0453AC; color:#ffffff;-moz-border-radius: 8px;}
TD {height:10px; border:0px; font-family: Arial; font-size: 11px; padding:5px; background-color:#ABB6D3; color:black;}
HR {height:1px; border-width:0; color:white; background-color:#AAAAAA}
TR.a TD {background-color:#A24C0A; color:white;}
TR.s TD {background-color:#BF8F09; color:white;}
TR.l TD {background-color:#5171B7; color:white;}
TR.n TD {background-color:#5172D2; color:white;}
TR.h TD {background-color:#A24C0A; color:white;}
TR.r TD {background-color:#C92614; color:white; font-size: 11px; font-family:"Arial" , Monospace; word-wrap:break-word;}
TR.p TD {background-color:#517199;}
TR.c TD {background-color:#038E0D; color:white; font-size: 11px; font-family:"Arial" , Monospace; word-wrap:break-word;}
TD.subheadline {height:5px; border:0px; background-color: #000000; padding:5px; text-align:left; font-family: Arial; font-size: 12px; font-weight:bold; background-color:#0453AC; color:#FFFFFF;-moz-border-radius: 12px;}
TR.online TD {background-color:#038E0D; color:white;}
TR.expired TD {background-color:#B55205; color:white;}
textarea.editor{border: 2px solid #000000; background-color: #ABB6D3; padding:5; font-family:"Courier New", monospace; color: #000000; font-size: 11px; word- wrap:break-word; text-align:left; width:98%; height:450px; -moz-border-radius: 8px;}
DIV.log {border:2px solid #000000; background-color: #ABB6D3; padding:5; font-family:"Courier New", monospace; color:#000000; font-size: 11px; word-wrap:break-word; text-align:left; height:380px; overflow:auto;-moz-border-radius: 8px;}
DIV.sidlist {border:1px solid #000000; background-color: #BBC6E3; padding:2; font-family:"Courier New", monospace ; color:#000000; font-size: 11px; word-wrap:break-word; text-align:left;-moz-border-radius: 7px;}
DIV.warning {border:1px dotted #AAAAAA; color:red ; font-weight:bold; font-size: 16px;}
TR.enabledreader TD {background-color: #C92614;  color: #FFFFFF; font-size: 12px;}
TD.menu {font-color:black; background-color:#C0C6DD; font-family: Arial; font-size:14px; font-weight:bold;}
TD.script {font-color:black; background-color:#C0C6DD; font-family: Arial; font-size:14px; font-weight:bold;}
TD.shutdown {font-color:black; background-color:#C0C6DD; font-family: Arial; font-size:14px; font-weight:bold;}
TD.shutdown A:hover {color: red;}
TD.configmenu {font-color:black; background-color:#C0C6DD; font-family: Arial; font-size:11px; font-weight:bold; border: 6px outset #C0C6DD;}
textarea.bt{font-family: Arial; font-size: 12px;}
A:link {color: #050840;}
A:visited {color: #050840;}
A:active {color: #050840;}
A:hover {color: #0453AC;}


P.blinking {text-decoration: blink; font-weight:bold; font-size:large; color:red;}
a.tooltip  {position: relative; text-decoration: none; cursor:default;}
a.tooltip1 {position: relative; text-decoration: none; cursor:default;color:red;}
a.tooltip  span {display: none; z-index:99;}
a.tooltip1 span {display: none; z-index:99;}

DIV.message {float:right;}
IMG{border:0px solid;}
INPUT[type=text] { background-color: #FFFFFF;}
INPUT[type=checkbox] { background-color: #000000; color: #0000FF;} 
INPUT[type=submit] { background-color: #B4B4B4; border: 6px outset #C0C6DD;}
SELECT { background-color: #FFFFFF;border-collapse : inherit;}
A.debugl:link {color: black;	font-size: 12px; text-decoration: none; border: 6px outset #C0C6DD;}
A.debugl:visited {color: black;	font-size: 12px; text-decoration: none; border: 6px outset #C0C6DD;}
A.debugl:active {color: red;	font-size: 12px; text-decoration: none; border: 6px outset #FF0000;}
A.debugl:hover {color: red;	font-size: 12px; text-decoration: none;}
SPAN.debugt {color: black;	font-size: 12px; height: 25px; line-height: 25px; border: 6px outset #C0C6DD;}
H4.styleauthor:before {content:"Light-Blue 3D-Button ";}
H4.styleauthor:after {content:"Woggy";}
H4.styleauthor2:after {content:"athlon1900 & steve1974";}
